# AIRBYTE
AIRBYTE_WEBAPP_PORT=2499
AIRBYTE_INSTALL_URL="https://get.airbyte.com"
AIRBYTE_EMAIL="yourname@company.com"
AIRBYTE_PASSWORD="passwordgoeshere"

#ABCTLX
ABCTLX_AB_URL="http://localhost"
ABCTLX_AB_API_URL="/api/public"
ABCTLX_AB_CID=""
ABCTLX_AB_CK=""
ABCTLX_AB_PORT=2499